* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body { /*Reajustando todo el contenido de body */
    align-items: center;
    display: flex;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    flex-direction: column;
    height: 329rem;
    width: 120rem;
}

#card_none { /*ocultamos la carta ya que en la resolución del telefono no nos sirve*/
    display: none;
}

@media (min-width: 481px) { /*Ajustamos los parametros de nuestra reoluciòn de tablet*/
    #card_none { /*Hacemos aparecer la carta oculta*/
        display: flex;
    }
    
    .box_tablet { /*Agregando cajas para poder ajustar las cajas*/
        align-items: center;
        display: flex;
        height: 110rem;
        justify-content: space-evenly;
        margin-top: 5rem;
        width: 120rem;
    }

    #signo_mas { /*Arreglando boton de mas para tablet*/
        margin-top: 5rem;
        margin-left: 30rem;
    }
    body #signo_mas {
    }
}

#d20 { /* creando la etiqueta que va arriba del header */
    align-items: center;
    background-color: rgb(192, 115, 61);
    color: black;
    display: flex;
    font-size: 3rem;
    height: 3.8125rem;
    padding-left: 2.5rem;
    width: 100%;
}

header { /* Creando header */
    align-items: center;
    background-color: #00669F;
    color: white;
    display: flex;
    font-size: 4.5rem;
    height: 10.125rem;
    padding-left: 2.5rem;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1;
}

.cards_centrals { /*ajustando el tamaño de las cartas que contienen a los personajes */
    align-items: center;
    background-color: rgb(192, 188, 188);
    border-radius: 50px 50px 0px 0px;
    box-shadow:0px 10px 0px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    height: 106rem;
    justify-content: space-between;
    margin: 4.5rem;
    width: 50.375rem;
}

body #signo_mas { /*Moviendo de lugar el circulo de mas*/
    left: 79rem;
    position: relative;
}

#signo_mas { /*Ajustando el signo de mas que aparece*/
    align-items: center;
    background-color: #00669F;
    border-radius: 100%;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 6rem;
    height: 9.375rem;
    justify-content: center;
    width: 9.375rem;
}

.imagen_fondo { /*Acomodando la imagen que va atras de la foto de perfil */
    border-radius: 50px 50px 0px 0px;
    height: 34.6875rem;
    position: absolute;
    width: 50.375rem;
}

.imagen_perfil { /* Acomodando la imagen que va enfrente del fondo la de perfil */
    border-radius: 100%;
    height: 22rem;
    position: relative;
    top: 8.3rem;
    width: 22rem;
}

button { /*Ajustando el boton de ver mas*/
    background-color: #00669F;
    bottom: 6rem;
    cursor: pointer;
    color: white;
    font-size: 2.25rem;
    height: 7.125rem;
    position: relative;
    width: 21.625rem;
}

.corazon { /*Ajustando el corazón que va enfrente de la foto del fondo */
    margin-top: 2rem;
    height: 4.1875rem;
    position: relative;
    right: 20rem;
    width: 4.1875rem;
}


.introduccion { /*Ajustando el texto que da una pequeña introducción del personaje */
    bottom: 3.1rem;
    font-size: 2.25rem;
    position: relative;
    width: 44.875rem;
}

.name_user { /*Ajustaando el nombre de los personajes */
    align-items: center;
    display: flex;
    font-size: 4rem;
    justify-content: center;
    position: relative;
    top: 3.1rem;
    width: 35rem;
}

footer { /*Ajustando el tamaño del pie de la pagina */
    align-items: center;
    background-color: rgb(25, 25, 104);
    color: white;
    display: flex;
    font-size: 2.25rem;
    height: 10.125rem;
    justify-content: center;
    margin-top: 19rem;
    width: 100%;
}

footer p { /*Centrando el texto de footer */
    left: 7rem;
    position: relative;
}

footer img { /*Ajustando el tamaño de la img del pie de la pagina */
    height: 4.2rem;
    left: 25rem;
    position: relative;
    width: 15.5rem;
}

@media (min-width: 769px) { /*Agregadno resolución de laptop*/
    #card_none { /*Quitando carta que en esta resolución no aparece*/
        display: none;
    }

    body { /*Reajustando body*/
        display: flex;
        height: 64rem;
        width: 64rem;
    }

    .box_tablet { /*Quitando parametros que se ocuparon en resolución de tablet que aqui ya no nos sirven*/
        align-items: none;
        display: flex;
        height: auto;
        justify-content: none;
        margin-top: 0px;
        width: auto;
    }

    #d20 { /*Reajustando el color y tamaño de letra de descuento 20%*/
        background-color: aquamarine;
        font-size: 0.9rem;
        height: 2.375rem;
    }

    #box_central_laptop { /*Ajustando la caja para la resolución de la laptop*/
        align-items: center;
        display: flex;
        height: 33.125rem;
        justify-content: space-evenly;
        position: relative;
        top: 5vh;
        width: 60rem;
    }
    
    .imagen_fondo { /*Aqui se reajusta el tamaño de la foto de fondo*/
        border-radius: 10px 10px 0px 0px;
        height: 12.125rem;
        width: 18.75rem;
    }
    .imagen_perfil { /*Reajustando el tamaño de las foto de perfil para la resolucion de computadora*/
        height: 7.5rem;
        top: 2.5rem;
        width: 7.5rem;
    }
    .cards_centrals { /*Reajustando el tamaño de las tarjetas centrales, tanto su ancho como sus largo*/
        height: 33.1rem;
        margin: 0px;
        width: 18.75rem;
    }

    .name_user { /*Reajustando el el nombre de los usuarios*/
        font-size: 1.875rem;
        margin-bottom: 1.25rem;
        top: 0rem;
    }
    .introduccion { /*Reajustando tamaño y posicionamiento de la introduccion de los personajes*/
        font-size: 1rem;
        height: 7.1rem;
        width: 16.6875rem;
    }

    button { /*Reajustando tamaño y posicionamiento del boton ver mas*/
        bottom: 0rem;
        font-size: 0.94rem;
        height: 3rem;
        width: 8rem;
    }

    .corazon { /*Reajustando las posiciones y tamaños de los corazones*/
        height: 1.875rem;
        margin-top: 1rem;
        right: 7rem;
        width: 1.875rem;
    }

    header { /*Reajustando el tamaño de letra del header*/
        font-size: 2.5rem;
        height: 6.3125rem;
        margin-bottom: 5rem;
    }

    #signo_mas { /*Ocultando el signo de mas ya que en esta resolución no aparece*/
        display: none;
    }

    #rebecca_box { /*Haciendo independiente la tarjeta de rebecca para poder separarla*/
        margin-left: 1.25rem;
    }

    footer img { /*Ocultando la imagen del footer ya que en esta resolución no aparece*/
        display: none;
    }

    footer { /*Ajustando el footer para resolución de laptop*/
        font-size: 1rem;
        height: 3.1875rem;
        justify-content: start;
        margin-top: 10rem;
        padding: 0px;
        padding-left: 1.5rem;
    }

    footer p{ /*Quitando el movimiendo de izquierda para que se ajuste el texto*/
        left: 0px;
    }
}